name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run a multi-line script
        run: |
          curl http://wy.targetedu.cn/targetedu/index.php/adminUtil/login
